[Unit]
Description=HomeBus Tasmota Dimmer pulisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-tasmota-dimmer
ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec bin/homebus-tasmota-dimmer
TimeoutSec=30

Restart=always

[Install]
WantedBy=multi-user.target

